  <mat-nav-list>
    <a href="#" mat-list-item (click)="openLink($event)">
        <span mat-line class="user-name">{{usuario}}</span>
        <span mat-line class="roles">{{roles}}</span>
    </a>
  </mat-nav-list>