<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar" *ngIf="loginService.estaLogeado()">
      <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
          <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>

      <h1 class="example-app-name">MediApp</h1>

      <span class="example-spacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
      </button>
    
      <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openBottomSheet()">
              <mat-icon>account_box</mat-icon>
              <span>Mi Perfil</span>
          </button>
          <button mat-menu-item (click)="loginService.cerrarSesion()" (click)="sidenav.opened = false">
              <mat-icon>exit_to_app</mat-icon>
              <span>Cerrar Sesión</span>
          </button>
      </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #sidenav mode="side" [(opened)]="opened" style="width: 200px">
          <img src="assets/mitocode.png" width="64">

            <div *ngFor="let m of menus">
                <button mat-menu-item (click)="sidenav.toggle()" routerLink="{{m.url}}" style="cursor: pointer" >
                    <mat-icon>{{m.icono}}</mat-icon>
                    <span>{{m.nombre}}</span>
                </button>
                <mat-divider></mat-divider>
            </div>
      </mat-sidenav>

      <mat-sidenav-content>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>