<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Nombre" [(ngModel)]="menu.nombre">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Icono" [(ngModel)]="menu.icono">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="URL" [(ngModel)]="menu.url">
  </mat-form-field>
</div>
<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>