/* You can add global styles to this file, and also import other style files */

body { margin: 0; }

mat-bottom-sheet-container.mat-bottom-sheet-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }